* {
    font-size: 18px;
}

.content {
    margin-left: 130px;
    width: 70vw;
    margin-top: 40px;
}

.name {
    font-size: 26px;
}
#first {
    font-weight: bolder;
    font-size: 26px;
}

img {
    width: 600px;
    /* height: 600px; */
}

a {
    color: #7C9ED9;
    text-decoration: none;
    /*  */
}
a > i {
    padding-right: 10px;
}
a:hover {
    color: #0A0AD4;
    text-decoration: none;
}

i {
    font-size: 20px;
}

/* .social-icon {
    margin-right: 5px;
} */

li {  
    display: inline-block;
    padding: 4px;
    margin-top: 20px;
}

ul {  
    padding: 0;
    padding-left: 120px;
}

li > a {  
    /* display:block;   */
    color: black;
    padding-right: 20px;
    text-decoration: none;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}

.avatar {
    width: 160px;
    margin: 0 0 20px 0;
}

/* .about {
    width: 700px;
} */

.row {
    margin-top: 50px;
}

h1 {
    font-weight: normal;
}