* {
    font-size: 16px;
}

.content {
    margin-left: 50px;
    margin-top: 40px;
}

img {
    width: 400px;
    /* height: 600px; */
}
.navbar > a:hover {
    color: #75AADB;
}
.navbar-brand {
    margin-left: 40px;
}

a {
    color: #75AADB;
    text-decoration: none;
}

a:hover {
    color: #2C6BAC;
    text-decoration: none;
}

i {
    font-size: 20px;
}

.social-icon {
    margin-right: 5px;
}